---
export const prerender = false

import { Icon } from "astro-icon/components"
import { actions, isInputError } from "astro:actions"

import Base from "@layouts/Base.astro"

import Button from "@components/ui/Button.astro"
import Field from "@components/ui/Form/Field.astro"

const result = Astro.getActionResult(actions.contact.submit)
const errors = isInputError(result?.error) ? result?.error.fields : {}
---

<Base>
  <section class="relative bg-catskill-white py-12 md:py-16 lg:py-32">
    <div class="md:max-lg:max-full container">
      <div class="w-full text-center">
        <h1 class="text-5xl font-bold">Contact Us</h1>
        <p class="mt-4">
          Vivamus suscipit tortor eget felis porttitor volutpat
        </p>
      </div><!-- /.w-full text-center -->
    </div><!-- /.container md:max-lg:max-full -->
  </section><!-- /.relative bg-catskill-white py-12 md:py-16 lg:py-32 -->

  <section class="relative bg-transparent">
    <div class="container">
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-12">
        <div
          class="order-3 bg-catskill-white md:order-2 lg:order-1 lg:col-span-3">
          <div class="flex h-full flex-col content-center space-y-5 py-16 ps-8">
            <h4 class="text-center text-xl font-bold md:text-left">
              Headquarters
            </h4><!-- /.text-center md:text-left -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <h5 class="text-center text-xl font-bold md:text-left">
              London
            </h5><!-- /.text-center text-xl font-bold md:text-left -->
            <ul class="m-0 space-y-2 p-0">
              <li class="flex items-center gap-2">
                <Icon name="lucide:map-pin" size={16} />
                <span>77 Fulham Street, London - UK</span>
              </li>
              <li class="flex items-center gap-2">
                <Icon name="lucide:phone-call" size={16} />
                <span>+14 3340789 </span>
              </li>
              <li class="flex items-center gap-2">
                <Icon name="lucide:mail" size={16} />
                <span>Hello@example.com </span>
              </li>
            </ul><!-- /.m-0 p-0 -->
            <h5 class="text-center text-xl font-bold md:text-left">
              Birmingham
            </h5><!-- /.text-center text-xl font-bold md:text-left -->
            <ul class="m-0 space-y-2 p-0">
              <li class="flex items-center gap-2">
                <Icon name="lucide:map-pin" size={16} />
                <span>77 Fulham Street, London - UK</span>
              </li>
              <li class="flex items-center gap-2">
                <Icon name="lucide:phone-call" size={16} />
                <span>+14 3340789 </span>
              </li>
              <li class="flex items-center gap-2">
                <Icon name="lucide:mail" size={16} />
                <span>Hello@example.com </span>
              </li>
            </ul><!-- /.m-0 p-0 -->
            <div class="flex w-full flex-row justify-start gap-4">
              <a
                href="#"
                class="text-breaker-bay transition-all hover:-translate-y-2">
                <Icon name="lucide:facebook" size={18} />
              </a>
              <a
                href="#"
                class="text-breaker-bay transition-all hover:-translate-y-2">
                <Icon name="lucide:twitter" size={18} />
              </a>
              <a
                href="#"
                class="text-breaker-bay transition-all hover:-translate-y-2">
                <Icon name="lucide:youtube" size={18} />
              </a>
              <a
                href="#"
                class="text-breaker-bay transition-all hover:-translate-y-2">
                <Icon name="lucide:instagram" size={18} />
              </a>
            </div><!-- /.flex w-full flex-row justify-start gap-4 -->
          </div><!-- /.ps-8 -->
        </div>
        <div
          class="order-2 flex flex-col space-y-5 py-16 md:order-1 md:col-span-2 lg:order-2 lg:col-span-6">
          <p class="w-full capitalize text-breaker-bay">
            Get In Touch
          </p><!-- / -->
          <h2
            class="w-full text-4xl font-bold capitalize md:text-5xl md:leading-none">
            Send us a message
          </h2><!-- / -->
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>

          <form
            action={actions.contact.submit}
            method="post"
            class="grid gap-4 md:grid-cols-2">
            <Field errors={errors.firstName} label={false}>
              <input
                type="text"
                required
                name="firstName"
                autocomplete="name"
                placeholder="First Name"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
              />
            </Field>
            <Field errors={errors.lastName} label={false}>
              <input
                type="text"
                required
                name="lastName"
                autocomplete="family-name"
                placeholder="Last Name"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
              />
            </Field>

            <Field errors={errors.company} label={false} class="md:col-span-2">
              <input
                type="text"
                name="company"
                placeholder="Company"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
              />
            </Field>
            <Field errors={errors.phone} label={false}>
              <input
                type="text"
                required
                name="phone"
                placeholder="Phone"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
              />
            </Field>
            <Field errors={errors.email} label={false}>
              <input
                type="email"
                required
                name="email"
                placeholder="Email"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
              />
            </Field>

            <Field errors={errors.comments} label={false} class="md:col-span-2">
              <textarea
                name="comments"
                placeholder="Message"
                class="text-shadow block w-full border-0 px-3.5 py-2 outline-none ring-1 ring-inset ring-alto placeholder:text-shark/50 focus:ring-2 focus:ring-inset focus:ring-breaker-bay sm:text-sm sm:leading-6"
                cols="30"
                rows="5"></textarea>
            </Field>
            <div class="relative">
              <Button type="submit">Send Message</Button>
            </div><!-- /.relative -->
          </form>
        </div>
        <div class="order-1 md:order-3 lg:col-span-3">
          <div class="flex h-full flex-col content-center space-y-5 py-16">
            <div class="group relative space-y-4 text-center">
              <div class="transition-all group-hover:-translate-y-2">
                <Icon
                  name="lucide:text-search"
                  size={32}
                  class="mx-auto text-breaker-bay"
                />
              </div><!-- /.transition-all group-hover:-translate-y- -->
              <div class="space-y-2.5">
                <h5 class="font-bold">For Job Seekers</h5>
                <p>
                  Cras ultricies ligula sed magna dictum porta. Pellentesque in
                  ipsum
                </p>
              </div><!-- / -->
            </div><!-- /.relative -->
            <div class="group relative space-y-4 text-center">
              <div class="transition-all group-hover:-translate-y-2">
                <Icon
                  name="lucide:briefcase-business"
                  size={32}
                  class="mx-auto text-breaker-bay"
                />
              </div><!-- /.transition-all group-hover:-translate-y- -->
              <div class="space-y-2.5">
                <h5 class="font-bold">For Employers</h5>
                <p>
                  Cras ultricies ligula sed magna dictum porta. Pellentesque in
                  ipsum
                </p>
              </div><!-- / -->
            </div><!-- /.relative -->
            <div class="group relative space-y-4 text-center">
              <div class="transition-all group-hover:-translate-y-2">
                <Icon
                  name="lucide:app-window"
                  size={32}
                  class="mx-auto text-breaker-bay"
                />
              </div><!-- /.transition-all group-hover:-translate-y- -->
              <div class="space-y-2.5">
                <h5 class="font-bold">Download Our Mobile Apps</h5>
                <p>
                  Cras ultricies ligula sed magna dictum porta. Pellentesque in
                  ipsum
                </p>
              </div><!-- / -->
            </div><!-- /.relative -->
          </div><!-- /.flex h-full flex-col content-center py-16 -->
        </div>
      </div><!-- /.grid md:grid-cols-12 -->
    </div><!-- /.container -->
  </section><!-- /.relative bg-transparent py-16 -->
</Base>
